h1{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
#form{
    display: flex;
    display: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#input{
    font-size: 20px;
    display: flex;
    display: row;
    text-align: center;
    justify-content: center;
    margin: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    font-family: Arial, Helvetica, sans-serif;
    overflow: none;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(0, 113, 234);
    color: black;
}